<%- include("partials/header.ejs") %>
    <h1> Welcome to Earth</h1>
    <div class="infoText">
      Earth is the <strong>third</strong> planet in our solar system.<br>
      Earth has one moon and no rings. Its orbit lasts 365 days.<br>
      Earth is the only planet with any known life forms. Most life<br>
      is carbon based and requires energy to survive. Life on earth <br>
      uses photosynthesis or cellular respiration to use the energy<br>
      necessary to survive. <br><br>
      <i>It was never discovered. We're on Earth.<br> </i>
    </div>
    <img src="/img/Earth.jfif" alt="Image of Earth" />
<%- include("partials/footer.ejs") %>
