<%- include("partials/header.ejs") %>
    <h1> Welcome to Mercury</h1>
    <div class="infoText">
      Mercury is the <strong>first</strong> planet in our solar system<br>
      and the closest to the sun. It is also the smallest<br>
      planet in our solar system. It has no moons. Its orbit<br>
      Is much shorter than the Earth's; it only lasts 88 days.<br> <br>
      <i>It was discovered in 14<sup>th</sup> century BC by Assyrian<br>
      Astronomers. <br> </i>
    </div>
    <img src="/img/Mercury.jfif" alt="Image of Mercury" />
<%- include("partials/footer.ejs") %>
