<%- include("partials/header.ejs") %>
    <h1> Welcome to Venus</h1>
    <div class="infoText">
      Mercury is the <strong>second</strong> planet in our solar system.<br>
      Venus does not have any moons or rings. Venus rotates in the opposite <br>
      direciton as most planets.Its orbit is also shorter than the Earth's;<br>
      it lasts 225 days. Venus is the hottest planet in the solar system,<br>
      reaching temperatures of 471 degrees C. <br><br>
      <i>It was discovered in 17<sup>th</sup> century BC by Babylonian<br>
      Astronomers. <br> </i>
    </div>
    <img src="/img/Venus.jfif" alt="Image of Venus" />
<%- include("partials/footer.ejs") %>
